<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuildMonitor.Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BuildMonitor.Engine.Properties.Settings>
            <setting name="PollPeriodInSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BuildDefinitionNameExclusionPattern" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableDelcomFlashingWhileBuilding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDelcomLightColourChangeWhileBuilding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TeamFoundationCollectionUrl" serializeAs="String">
                <value>http://tfs.somewhere.com:8080/tfs/Collection</value>
            </setting>
            <setting name="FlashLightOnBuildStatusChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatusOfLastBuildOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </BuildMonitor.Engine.Properties.Settings>
    </applicationSettings>
</configuration>